*{
  color:brown;
}
h3{
  color: #0000ff;
}
body{
  background-color: #a0f0c0;
}
button{
  color: red;
  background-color: blue;
}
.FirstStandard{
  color: violet;
}
#FourthLine{
  color: rgb(196, 176, 175);
}